<h2>Users</h2>

<table>
  <thead>
    <tr>
      <th></th>
      <th>User Phone &emsp;</th>
      <th>&emsp;Active &emsp;</th>
      <th>Percent Complete &emsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><h4><%= user.id %>.&emsp;</h4> </td>
        <td><h4><%= link_to user.phone, user %></h4></td>
        <td><h5><%= user.active? ? "True" : "False" %></h5></td>
        <td><h5><%= (user.next_message - 1) / 30 %> % </h5></td>
        <td><%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(user), :class => 'btn btn-default btn-xs' %>&emsp; </td>
        <td><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              user_path(user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
